/**********************************/
/********** General CSS ***********/
/**********************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	color:#444;
	font:normal 16px "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
	background-color:#fff;
	overflow-x:hidden;
	line-height:1.5;
}

a {
	color:#3498db;
	cursor:pointer;
	text-decoration:none;
		-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:0;
}
h1 {
    font-weight: 900;
}

img {
    width: 100%;
    height: auto;
}



/**********************************/
/***** Layout & Section Title *****/
/**********************************/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.section-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}



/**********************************/
/********* Team #5 Style **********/
/**********************************/
.team-5 {
    margin-bottom: 30px;
}

.team-5 .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
}

.team-5 .team-img img {
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.team-5 .team-content {
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f3f4fa;
    border-radius: 10px;
}

.team-5 .team-content h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.team-5 .team-content h3 {
    font-size: 16px;
    font-weight: 300;
}

.team-5 .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.team-5 .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.team-5 .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.team-5:hover .team-social {
    opacity: 1;
}

.team-5 .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}

.team-5 .team-social a.social-tw {
    background: #00acee;
}

.team-5 .team-social a.social-fb {
    background: #3b5998;
}

.team-5 .team-social a.social-li {
    background: #0e76a8;
}

.team-5 .team-social a.social-in {
    background: #3f729b;
}

.team-5 .team-social a.social-yt {
    background: #c4302b;
}

.team-5 .team-social a:last-child {
    margin-right: 0;
}

.team-5:hover .team-social a {
    margin-top: 0;
}

.team-5 .team-social a:hover {
    background: #222222;
}

/* Navbar CSS */

/*	Navbar	==================================================*/
.navbar-inverse .navbar-brand {
	padding:30px 15px;
	margin-right:30px;
	color:inherit;
	text-transform:uppercase;
	font-weight:bold;
}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {
	color:#000;
}
.navbar-inverse {
	background-color:#FFF;
		border:none;
}
.navbar-right button {
	margin:23px 0;
}
.navbar-nav>li>a {
	padding:30px 0;
	margin:0 15px;
}
.navbar-inverse .navbar-nav>li>a {
	color:inherit;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
	background-color:transparent;
	background-color:rgba(255,255,255,0);
	color:#01b0d1;
}
.header-button {
	margin-left: 15px;
}
/*	Tab & Collapse Skin	==================================================*/
.tab-pane {
	padding:15px 0;
	margin-bottom:5px;
}
.nav-tabs {
	border-bottom-color:#ecf0f1;
}
.nav-tabs>li>a {
	padding:10px 0;
	margin-right:30px;
	color:inherit;
	font-size:16px;
	border:none;
	border-bottom:1px solid rgba(255,255,255,0);
}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
	background:transparent;
	border:none;
	border-color:rgba(255,255,255,0);
}
.nav>li>a:hover,.nav>li>a:focus {
	background-color:#ecf0f1;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
	color:#1abc9c;
	background:transparent;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
	background:transparent;
	border:none;
	color:#1abc9c;
	border-bottom:1px solid #1abc9c;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
	background-color:#1abc9c;
}
.nav .caret,.nav a:hover .caret {
	border-top-color:#1abc9c;
	border-bottom-color:#1abc9c;
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
	background-color:#1abc9c;
}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
	border-color:#bdc3c7;
}
.navbar-inverse .navbar-toggle {
	background-color:#34495e;
	border-color:#2c3e50;
	margin-top:23px;
}
.navbar-inverse .navbar-toggle:focus {
	outline:none;
}
.panel {
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.panel-default {
	border-color:#eee;
}
.panel-default:last-child {
	margin-bottom:25px;
}
.panel-default>.panel-heading {
	background:#fff;
	color:#444;
}
.panel-heading {
	padding:20px 25px;
}
.panel-default>.panel-heading a:hover {
	color:#01b0d1;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
		border-top:1px solid #eee;
}
.panel-group .panel {
	border-radius: 0;
}